# global options
{
  admin off
  persist_config off
  auto_https off

  log {
    format json
  }

  servers {
    trusted_proxies static private_ranges
  }
}

# web server block
:{$PORT} {
  log {
    format json
  }

  # health check
  rewrite /health /*

  # root path (hasil build Angular)
  root * dist/fe-public

  # gzip compression
  encode gzip

  # serve files
  file_server

  # fallback to index.html for Angular routing
  try_files {path} /index.html
}
