.prose img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  /* rounded-lg */
  margin-top: 1rem;
  /* my-4 */
  margin-bottom: 1rem;
}

.prose p {
  margin-bottom: 1rem ;
  /* mb-4 */
  size: 20px;
  color: red;
  /* text-gray-700 */
  line-height: 1.625;
  /* leading-relaxed */
}

