<!-- org-level.component.html -->
<div class="flex flex-col items-center">
  <!-- Kartu Karyawan -->
  <app-employee-card 
    [name]="employee.name" 
    [position]="employee.position" 
    [photoUrl]="employee.photoUrl"
  ></app-employee-card>

  <!-- Garis penghubung ke bawah -->
  <div *ngIf="employee.subordinates && employee.subordinates.length > 0" 
       class="h-8 w-0.5 bg-gray-300"></div>

  <!-- Subordinate Container -->
  <div *ngIf="employee.subordinates && employee.subordinates.length > 0" 
       class="flex flex-row justify-center space-x-8 mt-4">
    <ng-container *ngFor="let subordinate of employee.subordinates">
      <app-org-level 
        [employee]="subordinate" 
        [level]="level + 1"
      ></app-org-level>
    </ng-container>
  </div>
</div>